.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board-container {
  display: flex;
  height: 220px;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;
  text-align: center;
}

.form-button {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #385185;
  outline: none;
}

.form-button:hover {
  background-color: #466FC2;
}

.form-button:active {
  background-color: #7AB4FF;
}

.w-4 {
  width: 84px;
}

.h-4 {
  height: 84px;
}

.m-auto {
  margin: auto;
}

.board-title-cell {
  display: flex;
  align-items: flex-start;
}
